{% extends "base.html" %}
{% block content %}
<h2>Your Cart</h2>

{% if items %}
<table border="1" cellpadding="8" style="border-collapse:collapse;">
  <tr>
    <th>Product</th>
    <th>Qty</th>
    <th>Subtotal</th>
    <th>Action</th>
  </tr>
  {% for i in items %}
  <tr>
    <td>{{ i.product.name }}</td>
    <td>{{ i.quantity }}</td>
    <td>₹ {{ i.subtotal }}</td>
    <td>
      <a href="{% url 'ecart:remove_cart' i.product.id %}" style="color:red;">Remove</a>
    </td>
  </tr>
  {% endfor %}
</table>

<h3>Total: ₹ {{ total }}</h3>
<a href="#" style="background:#007bff;color:white;padding:8px 12px;border-radius:5px;text-decoration:none;">Proceed to Checkout (Next Phase)</a>

{% else %}
<p>Cart empty da 😅</p>
<a href="{% url 'ecart:home' %}">← Continue Shopping</a>
{% endif %}
<a href="{% url 'ecart:checkout' %}" style="background:#007bff;color:white;padding:8px 12px;border-radius:5px;text-decoration:none;">Proceed to Checkout</a>

{% endblock %}
