{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- App-Specific CSS -->
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">

    
</head>
<body>
    <!-- ======= Header / Navbar ======= -->

<!-- ======= End Header ======= -->
<div class="menu-container">
    <ul class="menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">About the School</a></li>
      <li>
        <a href="#">Academics</a>
        <!-- This is the dropdown -->
        <ul class="dropdown">
          <li><a href="#">Admissions</a></li>
          <li><a href="#">Departments</a></li>
          <li><a href="#">Clubs & Activities</a></li>
          <li><a href="#">Student Support</a></li>
        </ul>
      </li>
      <li><a href="#">Contact</a></li>
      </ul>
    <ul class="menu-right">
      <li><a href="{% url 'login' %}">Login</a></li>
      <li><a href="{% url 'register' %}">Register</a></li>
    </ul>
</div>
  
  <div style="padding: 30px 0;">
    {% block content %}


    {% endblock %}

    </div>


    
</body>
</html>